<div class="contact_wrapper">
    <div class="contact_header">
        <%- include('menu.ejs') %>

        <div class="header_text text-white text-center">
            <h1 class="text-capitalize fw-bold">contact us</h1>
            <hr class="header_hr">
        </div>

        <div class="header_text_icons">
            <span><i class="fa-solid fa-truck-fast"></i></span>
            <span><i class="fa-solid fa-ship"></i></span>
            <span><i class="fa-solid fa-plane-departure"></i></span>
            <span><i class="fa-solid fa-box-open"></i></span>
            <span><i class="fa-solid fa-globe"></i></span>
        </div>
    </div>

    <div class="conatact_form_wrapper container">
        <div class="row">
            <div class="col-md-6 contacts_info">
                <h1>Crossborder Logistics Inc</h1>
                <h4 style="color: orange;">Jamhuri and zanaki street, Dar Es Salaam - Tanzania</h4>
                <span><b>Enquiries:</b> hello@crossborderinc.com</span>
                <span><b>Accounts:</b> accounts@crossborderinc.com</span>
                <span><b>Compliance:</b> compliance@crossborderinc.com</span>
            </div>
            <div class="col-md-6 contact_detai">
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="contactName" class="form-label">Contact Name:</label>
                      <input type="text" class="form-control" id="contactName">
                    </div>
                    <div class="col-md-6">
                      <label for="phoneNumber" class="form-label">Phone Number:</label>
                      <input type="text" class="form-control" id="phoneNumber">
                    </div>
                    <div class="col-12">
                      <label for="email" class="form-label">Email:</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="message" class="form-label">Message:</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                      </div>
                   
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary submit_btn ">Send</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="row p-5">
            <div class="col-md-4 d-flex align-items-center px-5">
                <img src="/images/log.png" alt="logo" width="250px" height="auto">
            </div>
            <div class="col-md-4 footer_middle">
                <div class="contact_footer text-white">
                    <h1 class="text-uppercase">Contact Us</h1>
                    <h4 class="text-capitalize">Have a question? give us a call. We'd love to hear from you.</h4>
                    <span><i class="fa-solid fa-building-columns pe-1"></i> Office P. O Box 5896</span>
                    <span><i class="fa-solid fa-address-book pe-"></i> Jamhuri and zanaki street, Dar Es Salaam - Tanzania</span>
                    <span><i class="fa-solid fa-phone-volume pe-1"></i> +255 625 515 454</span>
                    <span><i class="fa-solid fa-envelope pe-1"></i> md@crossborderinc.com / info@crossborderinc.com</span>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center footer_last">
                <div class="contact_footer text-white">
                    <h1 class="text-uppercase">Services</h1>
                    <span><i class="fa-solid fa-ship pe-1"></i> Ocean Freight Services</span>
                    <span><i class="fa-solid fa-plane-departure pe-1"></i> Air Freight & Courier Services</span>
                    <span><i class="fa-solid fa-truck-fast pe-1"></i> Road Freight Services</span>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-white text-center">
        <p>All rights reserved. copyright &copy; 1954. Cross Border Logistics Inc</p>
    </div>
    
</div>