<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    document.body.classList.remove('loading');
    setTimeout(function () {
            document.getElementById('loader-container').style.opacity = '0';
        }, 500);
  })

  window.addEventListener('load', function(){
    setTimeout(function () {
            document.getElementById('loader-container').style.display = 'none';
        }, 1250);
  })
</script>




<script>
  function submitForm(event) {
      event.preventDefault(); // Prevent the default form submission

      // Show SweetAlert indicating form submission
      Swal.fire({
          title: 'Getting Tracking Details ...',
          text: 'Please wait...',
          icon: 'info',
          allowOutsideClick: false,
          showConfirmButton: false,
      });

      // Simulate form submission (you can replace this with actual AJAX form submission)
      setTimeout(() => {
          // Close the SweetAlert
          Swal.close();

          // Submit the form
          event.target.submit();
      }, 2000); // Simulating a 2-second delay, replace with actual submission logic
  }
</script>





<script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
      var header = document.querySelector(".containers"); // Change this to the appropriate selector
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
          header.style.backgroundColor = "black"; // Set your desired background color
      } else {
          header.style.backgroundColor = "transparent";
      }
  }
</script>


 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 0,
      centeredSlides: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>
</html>