@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&family=Poppins:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 100%;
}
.header_container{
    /* background-image: url('/images/banner.jpg');
    background-repeat: no-repeat;
    position: relative;
    width: 100%; 
    overflow: hidden; */
    background-color: black;
}
/* .header_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
} */
.menu_big_screen{
    top: 20px;
    border-radius: 7px;
    background-color: white !important;
}
.logo{
    background-color: transparent !important;
    box-shadow: none !important;
}
.nav_links{
    font-weight: 700;
}
.nav_links a{
    color: white;
}
.icons{
    margin-right: 20px;
}
.icons i{
    color: orange;
}
.nav_ull{
    padding-right: 30px;
}
.hero_text {
    position: absolute;
    color: white;
    width: 75%;
    margin: 0 auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
}
.hero_text .first_h1{
    font-size: 28px;
    color: orange;
    font-weight: 700;
    display: inline-block;
    padding-inline: 8px;
    padding-block: 6px;
}
.hero_text .second_h1{
    font-weight: 700;
}
.track_info{
    margin-block: 100px;
    width: 75%;
    margin: 0 auto;
    padding-block: 50px;
}
.about_img{
    width: 556px;
    height: auto;
}

.main_info{
    font-family: 'Raleway', sans-serif;
    /* text-align: justify; */
    margin-top: 50px;
    padding-left: 80px;
}
.shipping_routes{
    margin-block: 110px;
}


.footer{
    background-image: url('/images/footer.jpg');
    width: 100%;
}
.copyright{
    background-color: black;
    padding: 20px;
}
.contact_footer span{
    display: block;
}
.contact_footer span i{
    color: orange;
}

.main_info h4{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}
.main_info h2{
    font-size: 36px;
    font-weight: 400;
}


.wrapper_hero{
    background-image: url('/images/tracking_hero.jpg');
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 80vh;
    background-position: center;
    background-size: cover;
}
.wrapper_hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.tracking_h1{
    position: absolute;
    color: white;
    width: 75%;
    margin: 0 auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    
}
.tracking_h1 h1{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* tracking info  */
#package-details {
    margin-top: 20px;
}

.transit-history-list {
    list-style: none;
    padding: 0;
}

.transit-history-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.status {
    font-weight: bold;
    color: #007bff; /* Blue color, you can choose your preferred color */
}

.date, .comment, .location {
    margin-top: 5px;
    color: #6c757d; /* Gray color for date */
}

.status-label,
.date-label, .comment-label, .location-label {
    font-weight: bold;
}

.status-value,
.date-value {
    margin-left: 5px;
}
.table_width{
    width: 30%;
}
.dates{
    text-align: center;
    margin-top: 20px;
}
.dates .text{
    font-size: 20px;
    background-color: #f8f9fa;
    color: black;
    display: inline-block;
    padding-inline: 12px;
    padding-block: 6px;
    border-radius: 10px;
}
.dates .d_date{
    font-size: 40px;
    color: #007bff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/* contact section */
/* .contact_header{
    height: 90vh;
    width: 100%;
    background-color: black;
} */
.contact_header{
    background-image: url('/images/banner.jpg');
    background-repeat: no-repeat;
    position: relative;
    width: 100%; 
    overflow: hidden;
    height: 70vh;
}
.contact_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.788);
}
.header_text{
    position: absolute;
    color: white;
    width: 75%;
    margin: 0 auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
}
.header_hr{
    width: 10%;
    margin: 0 auto;
    border: 2px solid orange;
    opacity: 1 !important;
}
.header_text_icons{
    position: absolute;
    color: orange;
    text-align: center;
    font-size: 30px;
    width: 75%;
    margin: 0 auto;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.header_text_icons span{
    padding-inline: 10px;
}
.contacts_info span{
    display: block;
    padding-block: 10px;
}
.conatact_form_wrapper{
    padding-top: 60px;
    margin-bottom: 40px;
}
.form_wrapp{
    background-image: url('/images/water.jpg');
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
.about_wrap{
    background-image: url('/images/water.jpg');
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-top: 20px;
}
.navbar-brand{
    background-color: transparent !important;
    box-shadow: none;
}



@media (max-width: 576px) {
    .hero_text .first_h1{
        font-size: 25px;
        text-align: left;
        padding-inline: 0px;
    }
    .hero_text .second_h1{
        font-size: 30px;
        text-align: left;
        margin-top: 20px;
    }
    .track_info{
        width: 100%;
    }
    .track_btn{
        width: 100%;
    }
    .hero_text a{
        width: 100%;
        margin-top: 20px;
    }
    .track_info{
        margin-block: 50px;
    }
    .about_img{
        width: 350px;
        height: auto;
    }
    .main_info{
        text-align: center;
        margin-top: 50px;
        padding-left: 0;
    }
    .main_info h2{
        font-size: 30px;
    }
    .partners{
        display: flex;
        justify-content: center !important;
        padding-bottom: 50px;
    }
    .footer_middle{
        margin-top: 50px;
    }
    .footer_last{
        margin-top: 50px;
        justify-content: flex-start !important;
    }
    .header_hr{
        width: 30%;  
    }
    .header_text_icons{
       
        font-size: 20px;
        width: 100%;
        top: 70%;
    }
    .contact_detai{
        padding-top: 70px;
    }
    .submit_btn{
        width: 100%;
    }
    
}
.swiper {
    width: 100%;
    height: 95vh;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.trackingWrapper{
    background-image: url('/images/water.jpg');
    padding-block: 80px;
   
    background-repeat: no-repeat;
}