<div class="wrapper">
    <div class="header_container">
           <%- include('menu.ejs') %>
        <div class="hero_text text-center">
            <h1 class="first_h1">BORDER CROSS LOGISTICS</h1>
            <h1 class="second_h1">DEDICATED SHIPPING AND LOGISTICS</h1>
        </div>
    </div>
    <div class="body_wrapper container">
        <div class="track_container">
            <div class="my-5">
                <div class="p-5 text-bg-dark rounded-3 ">
                    <form action="/packages/detail" method="GET" class="w-75 mx-auto">
                       
                        <div class="row g-3">
                            <div class="col-md-8">
                                <label for="trackingNumber" class="form-label">Track You Order:</label>
                                <input type="text" class="form-control" id="trackingNumber" name="trackingNumber"
                                    required>
    
                            </div>
    
                            <div class="col-md-4 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary px-5">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="about_container">
            
        </div>
    </div>
</div>